## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'Country': ['Taiwan', 'USA', 'Mexico', 'UK','Argentina','Brazil','Africa','Korea','Japan','Singapore'],
        'Population': np.random.randint(low=999999,high=1899999999, size=10)}
dtcontury = pd.DataFrame(data)

dtcontury

     Country  Population
0     Taiwan   520397591
1        USA  1830463441
2     Mexico  1472727126
3         UK     4138488
4  Argentina  1137831338
5     Brazil  1087257297
6     Africa   831510966
7      Korea   166974291
8      Japan  1256332235
9  Singapore   482706577

In [3]:
# 對資料做遞減排序
sort_by_population = dtcontury.sort_values(by=['Population'], ascending=False)

sort_by_population

     Country  Population
1        USA  1830463441
2     Mexico  1472727126
8      Japan  1256332235
4  Argentina  1137831338
5     Brazil  1087257297
6     Africa   831510966
0     Taiwan   520397591
9  Singapore   482706577
7      Korea   166974291
3         UK     4138488

In [4]:
print('人口數最多的國家是：{}, 人口數有：{}'.format(sort_by_population.iloc[0].Country, sort_by_population.iloc[0].Population))

人口數最多的國家是：USA, 人口數有：1830463441